In [15]:
import pandas as pd
import numpy as np
import statistics as st
import seaborn as se
import statsmodels.stats.proportion as smp
import operator
import matplotlib.pyplot as plt
import math
from scipy import stats
from scipy.stats import t,norm, ttest_ind, ttest_1samp, ttest_ind, chi2_contingency

In [16]:
PATH_CSV='~/Downloads/DadosEstatsticos.csv'

In [17]:
anac = pd.read_csv(PATH_CSV,sep=';',decimal=',', encoding='latin1')
anac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886509 entries, 0 to 886508
Data columns (total 38 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   EMPRESA (SIGLA)                    886509 non-null  object
 1   EMPRESA (NOME)                     886509 non-null  object
 2   EMPRESA (NACIONALIDADE)            886509 non-null  object
 3   ANO                                886509 non-null  int64
 4   MÊS                                886509 non-null  int64
 5   AEROPORTO DE ORIGEM (SIGLA)        881295 non-null  object
 6   AEROPORTO DE ORIGEM (NOME)         881295 non-null  object
 7   AEROPORTO DE ORIGEM (UF)           761974 non-null  object
 8   AEROPORTO DE ORIGEM (REGIÃO)       761987 non-null  object
 9   AEROPORTO DE ORIGEM (PAÍS)         881295 non-null  object
 10  AEROPORTO DE ORIGEM (CONTINENTE)   881295 non-null  object
 11  AEROPORTO DE DESTINO (SIGLA)       886509 non-null  object
 12  AEROPORTO DE DESTINO (NOME)        886509 non-null  object
 13  AEROPORTO DE DESTINO (UF)          758769 non-null  object
 14  AEROPORTO DE DESTINO (REGIÃO)      758777 non-null  object
 15  AEROPORTO DE DESTINO (PAÍS)        886509 non-null  object
 16  AEROPORTO DE DESTINO (CONTINENTE)  886509 non-null  object
 17  NATUREZA                           886509 non-null  object
 18  GRUPO DE VOO                       886507 non-null  object
 19  PASSAGEIROS PAGOS                  841719 non-null  float64
 20  PASSAGEIROS GRÁTIS                 841719 non-null  float64
 21  CARGA PAGA (KG)                    841719 non-null  float64
 22  CARGA GRÁTIS (KG)                  841719 non-null  float64
 23  CORREIO (KG)                       841719 non-null  float64
 24  ASK                                669311 non-null  float64
 25  RPK                                669793 non-null  float64
 26  ATK                                669311 non-null  float64
 27  RTK                                669307 non-null  float64
 28  COMBUSTÍVEL (LITROS)               575944 non-null  float64
 29  DISTÂNCIA VOADA (KM)               669311 non-null  float64
 30  DECOLAGENS                         669847 non-null  float64
 31  CARGA PAGA KM                      669793 non-null  float64
 32  CARGA GRATIS KM                    669307 non-null  float64
 33  CORREIO KM                         669793 non-null  float64
 34  ASSENTOS                           669846 non-null  float64
 35  PAYLOAD                            669846 non-null  float64
 36  HORAS VOADAS                       669329 non-null  float64
 37  BAGAGEM (KG)                       713859 non-null  float64
dtypes: float64(19), int64(2), object(17)
memory usage: 257.0+ MB

# Comparação média de um campo numérico e categórico

In [18]:
# Replace valor NAN
anac['DECOLAGENS'] = anac['DECOLAGENS'].replace(np.nan, 0)

In [19]:
st.mean(anac['DECOLAGENS'])

20.29471218002299

In [20]:
np.random.seed(9999)

In [21]:
aa = anac.groupby('EMPRESA (NACIONALIDADE)')

In [22]:
##############
def tamanhoAmostra(e,N):
    n = (N / (1 + (N*(e**2))))
    return (n)

In [23]:
e = 0.05
n = len(anac)
size = math.ceil(tamanhoAmostra(e,n))
amostra = np.random.choice(a = [0,1], size = size, replace = True, p = [0.3, 0.7])

print("População: ", n)
print('---------------------------------------------------------------------------------')
print("Tamanho da amostra: ", size)
print('---------------------------------------------------------------------------------')
print(amostra)

População:  886509
---------------------------------------------------------------------------------
Tamanho da amostra:  400
---------------------------------------------------------------------------------
[1 0 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 0 0 0 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 1 0
 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 0 1 0 1
 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 0 1 0 1 1 0 1 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 0 1 0 1 0 0 0 0 1 1 0 1 1
 1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1
 1 1 1 0 1 0 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 1 0 1
 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 0 1 0 1 1 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1
 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1
 1 1 1 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 1 0 1
 1 1 1 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1]

In [24]:
##########
tab_contigencia = pd.crosstab (anac['DECOLAGENS'],anac['EMPRESA (NACIONALIDADE)'])
tab_contigencia

EMPRESA (NACIONALIDADE)  BRASILEIRA  ESTRANGEIRA
DECOLAGENS
0.0                          177404        40241
1.0                          137382        22265
2.0                           40488         6801
3.0                           22364         4544
4.0                           26464         5970
...                             ...          ...
842.0                             2            0
843.0                             1            0
845.0                             1            0
911.0                             1            0
918.0                             1            0

[799 rows x 2 columns]

In [25]:
##################
qui, p, gl, esperado = chi2_contingency(tab_contigencia,correction=False)
print("Valores esperados")
print(esperado)
print('qui=%.3f, p=%.3f' % (qui, p))
if p > 0.05:
    print('Conclusão: as variáveis são independentes')
else:
    print('Conclusão: as variáveis são dependentes')

Valores esperados
[[1.83555731e+05 3.40892687e+04]
 [1.34641833e+05 2.50051666e+04]
 [3.98822255e+04 7.40677447e+03]
 ...
 [8.43372149e-01 1.56627851e-01]
 [8.43372149e-01 1.56627851e-01]
 [8.43372149e-01 1.56627851e-01]]
qui=27325.947, p=0.000
Conclusão: as variáveis são dependentes

In [26]:
##############
bd_brasileira = anac.loc[anac['EMPRESA (NACIONALIDADE)'] == "BRASILEIRA"]
bd_estrangeira = anac.loc[anac['EMPRESA (NACIONALIDADE)'] == "ESTRANGEIRA"]
print("Brasileira:", bd_brasileira.shape)
print("Estrangeira:", bd_estrangeira.shape)

Brasileira: (747657, 38)
Estrangeira: (138852, 38)

In [29]:
alfa=0.05

print('H0: vCampoNum = vCampoCat')
print('H1: vCampoNum ≠ vCampoCat')
print('---------------------------------------------------------------------------------')

coluna = 'DECOLAGENS'
media = np.mean(bd_brasileira[coluna])
dp = np.std(bd_brasileira[coluna])
print('Média para DECOLAGENS: ', round(media, 2))
print('Desvio-padrão para DECOLAGENS: ', round(dp,2))

print('---------------------------------------------------------------------------------')

media = np.mean(bd_estrangeira[coluna])
dp = np.std(bd_estrangeira[coluna])
print('Média para NACIONALIDADE: ', round(media, 2))
print('Desvio-padrão para NACIONALIDADE: ', round(dp,2))

print('---------------------------------------------------------------------------------')

t,p = ttest_ind(bd_brasileira[coluna],bd_estrangeira[coluna])
print('t= %0.3f, p= %0.6f' % (t, p))
print('P: ', p)

if p > alfa:
   print('Conclusão: aceita-se H0, ou seja, as médias são estatisticamente iguais ao nível de significância de 5%')
else:
   print('Conclusão: rejeita-se H0, ou seja, as médias são estatisticamente diferentes ao nível de significância de 5%')

H0: vCampoNum = vCampoCat
H1: vCampoNum ≠ vCampoCat
---------------------------------------------------------------------------------
Média para DECOLAGENS:  22.07
Desvio-padrão para DECOLAGENS:  44.97
---------------------------------------------------------------------------------
Média para NACIONALIDADE:  10.73
Desvio-padrão para NACIONALIDADE:  16.71
---------------------------------------------------------------------------------
t= 92.785, p= 0.000000
P:  0.0
Conclusão: rejeita-se H0, ou seja, as médias são estatisticamente diferentes ao nível de significância de 5%

In [28]:
# print(np.mean(selectA1['EMPRESA (NACIONALIDADE)']))