In [40]:
import pandas as pd
from scipy import stats

In [41]:
dataframe = pd.read_csv("DadosEstatisticos-com-colunas-de-interesse.csv",sep=";",encoding='latin-1');

In [42]:
dataframe.rename(columns={'AEROPORTO DE DESTINO (REGIÃO)': 'AERO_DESTINO_REGIAO'}, inplace = True)

In [43]:
qtde_voo_destino_sul_domestico = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'SUL') & 
               (dataframe.NATUREZA == 'DOMÉSTICA') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [44]:
qtde_voo_destino_sul_internacional = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'SUL') & 
               (dataframe.NATUREZA == 'INTERNACIONAL') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [45]:
qtde_voo_destino_norte_domestico = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'NORTE') &
               (dataframe.NATUREZA == 'DOMÉSTICA') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [46]:
qtde_voo_destino_norte_internacional = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'NORTE') & 
               (dataframe.NATUREZA == 'INTERNACIONAL') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [47]:
qtde_voo_destino_sudeste_domestico = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'SUDESTE') &
               (dataframe.NATUREZA == 'DOMÉSTICA') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [48]:
qtde_voo_destino_sudeste_internacional = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'SUDESTE') & 
               (dataframe.NATUREZA == 'INTERNACIONAL') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [49]:
qtde_voo_destino_nordeste_domestico = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'NORDESTE') &
               (dataframe.NATUREZA == 'DOMÉSTICA') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [50]:
qtde_voo_destino_nordeste_internacional = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'NORDESTE') &
               (dataframe.NATUREZA == 'INTERNACIONAL') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [51]:
qtde_voo_destino_centrooeste_domestico = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'CENTRO-OESTE') &
               (dataframe.NATUREZA == 'DOMÉSTICA') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [52]:
qtde_voo_destino_centrooeste_internacional = dataframe.loc[((dataframe.AERO_DESTINO_REGIAO == 'CENTRO-OESTE') &
               (dataframe.NATUREZA == 'INTERNACIONAL') & (dataframe.ANO == 2019))]['DECOLAGENS'].sum()

In [53]:
valores_observados = {'REGIAO_DESTINO':['NORTE','SUL','SUDESTE','NORDESTE','CENTRO-OESTE'],
                'DOMÉSTICO': [
                    qtde_voo_destino_norte_domestico,
                    qtde_voo_destino_sul_domestico,
                    qtde_voo_destino_sudeste_domestico,
                    qtde_voo_destino_nordeste_domestico,
                    qtde_voo_destino_centrooeste_domestico], 
                'INTERNACIONAL':[
                    qtde_voo_destino_norte_internacional,
                    qtde_voo_destino_sul_internacional,
                    qtde_voo_destino_sudeste_internacional,
                    qtde_voo_destino_nordeste_internacional,
                    qtde_voo_destino_centrooeste_internacional],
                'TOTAL':[
                    qtde_voo_destino_norte_domestico + qtde_voo_destino_norte_internacional,
                    qtde_voo_destino_sul_domestico + qtde_voo_destino_sul_internacional,
                    qtde_voo_destino_sudeste_domestico + qtde_voo_destino_sudeste_internacional,
                    qtde_voo_destino_nordeste_domestico + qtde_voo_destino_nordeste_internacional,
                    qtde_voo_destino_centrooeste_domestico + qtde_voo_destino_centrooeste_internacional] 
                      
                     }

In [54]:
frame_valores_obs = pd.DataFrame(valores_observados)
frame_valores_obs

  REGIAO_DESTINO  DOMÉSTICO  INTERNACIONAL     TOTAL
0          NORTE    49423.0         1969.0   51392.0
1            SUL   111250.0         4635.0  115885.0
2        SUDESTE   409199.0        55573.0  464772.0
3       NORDESTE   142207.0         4964.0  147171.0
4   CENTRO-OESTE    97846.0         2164.0  100010.0

In [55]:
frame_valores_obs.loc[5] = ['TOTAL', frame_valores_obs['DOMÉSTICO'].sum(), frame_valores_obs['INTERNACIONAL'].sum(), frame_valores_obs['TOTAL'].sum()] 
frame_valores_obs

  REGIAO_DESTINO  DOMÉSTICO  INTERNACIONAL     TOTAL
0          NORTE    49423.0         1969.0   51392.0
1            SUL   111250.0         4635.0  115885.0
2        SUDESTE   409199.0        55573.0  464772.0
3       NORDESTE   142207.0         4964.0  147171.0
4   CENTRO-OESTE    97846.0         2164.0  100010.0
5          TOTAL   809925.0        69305.0  879230.0

In [56]:
frame_valores_esperados = frame_valores_obs.copy()

In [57]:
frame_valores_esperados = frame_valores_esperados.drop(columns=['TOTAL'])
frame_valores_esperados = frame_valores_esperados.drop(5)

In [68]:
for i in range(5):
    frame_valores_esperados.at[i, 'DOMÉSTICO'] = round((frame_valores_obs.at[5, 'DOMÉSTICO']*frame_valores_obs.at[i, 'TOTAL'])/frame_valores_obs.at[5, 'TOTAL'],2)
    frame_valores_esperados.at[i, 'INTERNACIONAL'] = round((frame_valores_obs.at[5, 'INTERNACIONAL']*frame_valores_obs.at[i, 'TOTAL'])/frame_valores_obs.at[5, 'TOTAL'],2)

In [69]:
frame_valores_esperados

  REGIAO_DESTINO  DOMÉSTICO  INTERNACIONAL
0          NORTE   47341.04        4050.96
1            SUL  106750.41        9134.59
2        SUDESTE  428136.51       36635.49
3       NORDESTE  135570.30       11600.70
4   CENTRO-OESTE   92126.75        7883.25

In [70]:
frame_valores_obs

  REGIAO_DESTINO  DOMÉSTICO  INTERNACIONAL     TOTAL
0          NORTE    49423.0         1969.0   51392.0
1            SUL   111250.0         4635.0  115885.0
2        SUDESTE   409199.0        55573.0  464772.0
3       NORDESTE   142207.0         4964.0  147171.0
4   CENTRO-OESTE    97846.0         2164.0  100010.0
5          TOTAL   809925.0        69305.0  879230.0

In [71]:
lista_obs = list(frame_valores_obs['DOMÉSTICO'][:5])
lista_obs.extend(frame_valores_obs['INTERNACIONAL'][:5])
lista_obs

[49423.0,
 111250.0,
 409199.0,
 142207.0,
 97846.0,
 1969.0,
 4635.0,
 55573.0,
 4964.0,
 2164.0]

In [72]:
lista_esp = list(frame_valores_esperados['DOMÉSTICO'][:5])
lista_esp.extend(frame_valores_esperados['INTERNACIONAL'][:5])
lista_esp

[47341.04,
 106750.41,
 428136.51,
 135570.3,
 92126.75,
 4050.96,
 9134.59,
 36635.49,
 11600.7,
 7883.25]

In [73]:
print(stats.chisquare(lista_obs,lista_esp))

Power_divergenceResult(statistic=22820.49370535177, pvalue=0.0)

**<h1>Hipóteses</h1>**

H0 = A natureza do voo independe da região de destino

H1 = A natureza do voo está associada a região de destino

**<h1>Conclusão:</h1>**

p = 0.0 < $ \alpha $ = 0.05, logo rejeita-se a H0 e **aceita-se a H1**, ou seja, a natureza do voo está estatisticamente associada a região de destino ao nível de 5% de significância.